@{
    ViewBag.Title = "About";
}
<br />
<br />
<br />

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div class="container">
    <h1>
        Find all the treats with DetroitEatz!
    </h1>

    <p>
        We've been hanging around in the area of detroit for a while, and even then we discover new restaurants we haven't eaten at.
        We created DetroitEatz as a way to guide people to the food they want to eat, depending on where they are, or where they want to go in detroit.
    </p>


    <p>
        Ball tip boudin beef turkey fatback alcatra meatloaf pig. Short ribs
        shankle picanha tail strip steak drumstick turducken pork belly biltong pork chop tri-tip
        kielbasa doner pork loin ball tip. Shankle turkey bresaola meatball brisket, capicola ball
        tip kielbasa. Pig tri-tip cupim, turkey flank meatloaf ball tip ham. Beef ribs shankle landjaeger
        venison ribeye ham hamburger pork chop filet mignon bresaola ham hock drumstick. Chuck pig meatloaf short
        ribs. Leberkas tail t-bone pork loin turkey pastrami meatloaf spare ribs flank.
    </p>

    <p>
        Andouille cow cupim corned beef shank porchetta turducken chuck. Sausage jowl capicola ribeye
        meatloaf cupim bresaola andouille fatback jerky turducken pork. Pastrami sirloin salami
        tongue pancetta boudin ball tip, sausage cupim turkey chicken doner tail kevin. Tail beef
        andouille cupim ball tip tenderloin tri-tip venison shank swine ribeye ground round ham hock beef ribs capicola.
    </p>

</div>
