@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<br />
<br />
<br />
<img src="../../Images/contact%20mapGC.png" alt="" style="float:left;" hspace="30" vspace="30" />

@*<img src="../../Images/contact.jpg" alt="" style="float:left;" />*@
@*<img src="../../Images/150305110546_1_900x600.jpg"  />*@

<br />
<br />
CONTACT US
<br />
<br />
<address>

    Please feel free to contact us for any suggestions or feedback.<br />
    We would love to hear from you </br>
    <br />
    Team Jupiter<br />
    Grand Circus,
    Detroit, MI 48226<br />
    <abbr title="Phone">P:</abbr>
    100-200-3000

</address>

<address>
    <strong>Support:</strong>   <a href="Teamjupiter@gmail.com">TeamJupiter@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="Teamjupiter@gmail.com">TeamJupiter@gmail.com</a>
</address>