@{
    ViewBag.Title = "About";
}

<link href="~/Content/HomePage.css" rel="stylesheet" />

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <style>
        h1 {
            color: #4800ff;
        }
    </style>

</head>
<body>

    <h1>Detroit Eatz...</h1>

    <div>

        @*<img src="image.png" style="background-color:red;" />*@
        <img border="0" align="left" src="../../Images/fish-fried-mint-pepper-medium.jpg" />  ..is a restaurant finder application where you can find different places to eat based on 
        <ul style="list-style-type:none">
            <li> Taste Preference
            <li> Distance
            <li> Rating
            <li> Food Type
            <li> ZipCode
            <li> Price Level
            <li> Open Hours
         </ul> </br>        


    The app is featured with favorites option. Just store your preferred restaurant to show up in just a click. </br> </br>
    This app features google maps and returns results based on search criteria.  Please enable your "share location" option to have best results

    </div>

   
</body>
</html>
<h1></h1>

<p>
    




</p>

