@*@{
        Layout = null;
    }

    <!DOCTYPE html>

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title></title>
    </head>
    <body>
        <div>

        </div>
    </body>
    </html>*@


@*@{
        ViewBag.Title = "Home";
    }

    <h2>Home</h2>*@


<html>
<head>
    <title></title>

    
    @*<style>
        h1 {
            color: #4800ff;
        }
    </style>*@
    



    <style>
        body,
        html{
            min-height:100%;
            min-width:100%;
        }
          body{

              background-image:url("../../Content/Images/Restaurant.jpg");
              background-repeat: no-repeat;
              background-size:contain;


          }
      </style>
    



    
  




</head>

<body>
<center>
    <h1>Detroit Eatz</h1>
    <h4 st>Find your Taste</h4>
    
    <h3>  A free, smart web app to find your food </h3>
    <h6> Created and Designed by Team Jupiter</h6>

    <p> </p>
 

</center>



</body>


</html>